@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap");

body {
    font-family: "Poppins", sans-serif;
    background-color: #fff;
}

.logo {
    border-bottom:1px solid  #E0E2E9;
}

.navbar {
    left: -75%;
    transition: 0.5s;
}

.li-links {
    padding: 0 14px;
}

.link {
    border-bottom: 1px solid  #E0E2E9;
    padding: 0.7rem 0;
    font-weight:bold;
    color: #0C140C;
    font-size: 0.9rem
}

/* .dropdown-link li {
    padding: 1rem 0 0 0
} */

.dropdown-link a {
    font-size: 0.9rem;
    padding-top: 1.5rem;
    color: #7A7A7A;
    display: block;
}


@media only screen and (min-width: 1024px) {
    .container-navtop {
        border-bottom: 1px solid #E0E2E9;
        padding: 1.5rem 4rem;
    }

    .logo {
        border-bottom:none;
    }
}

@media only screen and (min-width: 1280px) {
    .container-navtop {
        border-bottom: 1px solid #E0E2E9;
        padding: 1.5rem 8rem;
    }
}